<!--<div class="grid-view">
    <div *ngIf="cardFilterType=='new' && isEmpty" class="no-new-card-view">
        There is no new invitation for a card!
    </div>
    <div class="flex-row row">
        <div class="col-md-3">
            <div class="content-box">TO-DO</div>
        </div>
        <div class="col row-box-wrapper">
            <div class="content-box">ANALYTICS</div>
            <div class="content-box">SUMMARY VIEW</div>
        </div>
        <div class="col-md-3">
            <div class="content-box">INSIGHTS</div>
        </div>
    </div>
</div>-->

<!--<div class="empaty-sreen-msg">
    <div class="content-box" [ngClass]="{'nightTimeBG': isNightTime}">
        Select a card from above to see activity. You can manage your work in the selected card.
    </div>
</div>-->
